            <div class="badge big {{ b.rating_name|lower }}">
                <div class="top">
                    <div class="image"><div class="crop"><object data="{{ b.img }}"><img src="{{ b.img }}" alt="badge image"/></object></div></div>
                    <div class="info value">
                        <span class="label">Typ</span> {{ b.rating_name }}<br/>
                        <span class="label">Vertrauen</span> {{ b.value_percent }}%<br/>
                        <span class="label">Häufigkeit</span> {{ b.issued }} / {{ b.candidate_count }}
                    </div>
                </div>
                <h2>{{ b.name }}</h2>
                <div class="info">
                    <span class="label">von</span> {{ b.awarder_name }} {% if b.via %}<span class="label">via</span> {{ b.via }}{% endif %}<br/>
                    <span class="label">in</span> {% if b.lva %}{{ b.lva }}{% else %}{{ b.context }}{% endif %}
                </div>
                {% if b.comment %}
                <div class="line"></div>
                <div class="quote">
                   {{ b.comment }}
                </div>
                {% endif %}
                <div class="line"></div>
                <div class="info">
                    <h3>Leistung</h3>
                    {% if link %}<a href="{{ b.proof }}" target="_blank">{% endif %}{{ proof }}{% if link %}</a>{% endif %}
                </div>
                {% if b.keywords.all|length > 0 %}
                <div class="line"></div>
                <div class="info">
                    <h3>Schlagwörter</h3>
                    {{ b.keywords.all|join:", " }}
                </div>
                {% endif %}
            </div>