{% load staticfiles %}
            <h1>Badge Preset {{ form_action_label }}</h1>
            {% csrf_token %}
            <div class="badgecreator">
                <div class="preview col-3">
                    <div class="bg"></div>
                    <div class="fg"></div>
                    <img src="{{ img }}" />
                </div>

                <div class="col-3" style="position: relative;">
                    <h2>Symbol</h2>
                    <div class="color-wrapper"><input id="shape-color" /></div>
                    <div class="browse">
                        <a href="#previous" class="prev" id="symbols_prev">&laquo;</a>
                        <span class="page" id="symbols_page">-/-</span>
                        <a href="#next" class="next" id="symbols_next">&raquo;</a>
                    </div>
                    <ul class="shapes slider" data-items_per_page="16" data-next="symbols_next" data-prev="symbols_prev" data-pageindicator="symbols_page">
                        {% for s in shapes %}
                        <li><a href="#change-shape" data-name="{{ s.name }}"><img src="{% static s.url %}" /></a><div class="pad"></div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-3" style="position: relative;">
                    <h2>Muster</h2>
                    <div class="browse">
                        <a href="#previous" class="prev" id="patterns_prev">&laquo;</a>
                        <span class="page" id="patterns_page">-/-</span>
                        <a href="#next" class="next" id="patterns_next">&raquo;</a>
                    </div>
                    <ul class="patterns slider" data-items_per_page="16" data-next="patterns_next" data-prev="patterns_prev" data-pageindicator="patterns_page">
                        {% for p in patterns %}
                        <li><a href="#change-pattern" data-name="{{ p.name }}"><img src="{{ p.url }}" /></a><div class="pad"></div></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="axisform clear">

                <label for="name">Name *</label>
                <span class="input"><input name="name" id="name" value="{{ name }}" placeholder="Badgebezeichnung"/></span>
                <label for="keywords">Schlagw&ouml;rter *</label>
                <span class="textarea inline"><textarea name="keywords" id="keywords" placeholder="zB UX Design, Java, Numerik, ..." rows="1" class="autosize">{{ keywords.all|join:", " }}</textarea></span>
                <label for="proof">Leistung</label>
                <span class="textarea inline"><textarea name="proof" id="proof" placeholder="URL oder kurze Beschreibung" rows="1" class="autosize">{{ proof }}</textarea></span>
                <label for="comment">Kommentar</label>
                <span class="textarea inline"><textarea name="comment" id="comment" placeholder="" rows="1" class="autosize">{{ comment }}</textarea></span>

                <input type="hidden" id="preset-id" name="preset-id" value="{{ id }}" />
                <div class="buttongroup">
                    <input type="button" class="submit" value="&raquo; {{ save_label }}" />
                    <input type="button" class="cancel close" value="&raquo;  Abbrechen" />
                    <input type="button" class="small clear submit" value="&raquo; {{ save_more_label }}" />
                </div>

                <div class="message"></div>
            </div>