{% load staticfiles %}
{% include 'header.html' with page='My Badges' menu_selected=0 %}
        <h1>Meine Badges</h1>
        <div class="badges">
            <div class="badge box public">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <div class="value">
                    <div class="indicator"><div class="fill"></div></div>
                    <div class="overlay box">
                        <span class="label">Typ:</span> Silber<br/>
                        <span class="label">Vertrauen:</span> 40%<br/>
                        <span class="label">Häufigkeit:</span> 200/1239
                    </div>
                </div>
                <a class="public-indicator" href="#toggle-public"></a>
                <h2>Ein toller Badge</h2>
                <div class="info">
                    <span class="label">von</span> Awesome Inc.<br/>
                    <span class="label">via</span> Peter Purgathofer
                </div>
            </div>
            <div class="badge box gold">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <div class="value">
                    <div class="indicator"><div class="fill"></div></div>
                    <div class="overlay box">
                        <span class="label">Typ:</span> Silber<br/>
                        <span class="label">Vertrauen:</span> 40%<br/>
                        <span class="label">Häufigkeit:</span> 200/1239
                    </div>
                </div>
                <a class="public-indicator" href="#toggle-public"></a>
                <h2>Ein toller Badge mit einem langen langen Namen</h2>
                <div class="info">
                    <span class="label">von</span> Awesome Inc.<br/>
                    <span class="label">via</span> Peter Purgathofer
                </div>
            </div>
            <div class="badge box bronze">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <div class="value">
                    <div class="indicator"><div class="fill"></div></div>
                    <div class="overlay box">
                        <span class="label">Typ:</span> Silber<br/>
                        <span class="label">Vertrauen:</span> 40%<br/>
                        <span class="label">Häufigkeit:</span> 200/1239
                    </div>
                </div>
                <h2>Ein toller Badge mit einem echt noch viel langeren Namen wow.</h2>
                <div class="info">
                    <span class="label">von</span> Peter Purgathofer
                </div>
            </div>
            <div class="badge box">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <h2>Ein toller Badge mit einem langen langen Namen</h2>
                <div class="info">
                    <span class="label">von</span> Awesome Inc.<br/>
                    <span class="label">via</span> Peter Purgathofer
                </div>
            </div>
            <div class="badge box">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <div class="value">
                    <div class="indicator"><div class="fill"></div></div>
                    <div class="overlay box">
                        <span class="label">Typ:</span> Silber<br/>
                        <span class="label">Vertrauen:</span> 40%<br/>
                        <span class="label">Häufigkeit:</span> 200/1239
                    </div>
                </div>
                <h2>Ein toller Badge</h2>
                <div class="info">
                    <span class="label">von</span> Awesome Inc.<br/>
                    <span class="label">via</span> Peter Purgathofer
                </div>
            </div>
            <div class="badge box">
                <div class="image"><img src="{% static "images/badge.png" %}" alt="badge image"/></div>
                <div class="value">
                    <div class="indicator"><div class="fill"></div></div>
                    <div class="overlay box">
                        <span class="label">Typ:</span> Silber<br/>
                        <span class="label">Vertrauen:</span> 40%<br/>
                        <span class="label">Häufigkeit:</span> 200/1239
                    </div>
                </div>
                <h2>Ein toller Badge mit einem echt noch viel langeren Namen wow.</h2>
                <div class="info">
                    <span class="label">von</span> Peter Purgathofer
                </div>
            </div>
        </div>
        {{ badges }}
{% include 'footer.html' %}