{% load staticfiles %}
        </div>
    </div>
    <div class="modal">
        <div class="contentbox">
            <h1>Badge Preset erstellen</h1>
            <div class="badgecreator">
                <div class="preview col-3">
                    <div class="bg"></div>
                    <div class="fg"></div>
                    <img src="{% static "images/blank.png" %}" />
                </div>

                <div class="col-3">
                    <h2>Symbol</h2>
                    <ul class="synmbols"></ul>
                </div>

                <div class="col-3">
                    <h2>Muster</h2>
                    <ul class="patterns"></ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="axisform clear">

                <label for="name">Name </label> <span class="input"><input name="name" id="name" value="" placeholder="Badgebezeichnung"/></span>
                <label for="lva">LVA</label><span class="input"><input name="lva" id="lva" value="" placeholder="optionale LVA Angabe"/></span>
                <label for="proof">Schlagw&ouml;rter</label>
                <span class="textarea inline"><textarea name="proof" id="proof" placeholder="zB UX Design, Java, Numerik, ..." rows="1" class="autosize"></textarea></span>

                <div class="buttongroup">
                    <input type="button" value="&raquo; Preset erstellen" />
                    <input type="button" class="cancel" value="&raquo;  Abbrechen" />
                    <input type="button" class="small clear" value="&raquo; Preset und weiteres erstellen" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>