{% load staticfiles %}
        </div>
    </div>
    <div class="modal">
        <div class="contentbox" style="max-width:450px;">
            <a href="#close" class="close"></a>
            <div class="badge">
                <div class="top">
                    <div class="image"><div class="crop"><img class="" src="/svg?" /></div></div>
                    <div class="info value">
                        <span class="label">Typ</span> Silber<br/>
                        <span class="label">Vertrauen</span> 40%<br/>
                        <span class="label">Häufigkeit</span> 200/1239
                    </div>
                </div>
                <h2>Ein toller Badge</h2>
                <div class="info">
                    <span class="label">Erhalten von</span> Awesome Inc. <span class="label">via</span> Peter Purgathofer
                </div>
                <div class="line"></div>
                <div class="quote">
                    Max Mustermann hat in der LVA Projektpraktikum I gezeigt, dass er XY echt gut drauf hat.
                </div>
                <div class="line"></div>
                <div class="info">
                    <h3>Leistung</h3>
                    <a href="http://www.orf.at" target="_blank">www.orf.at</a>
                </div>
                <div class="line"></div>
                <div class="info">
                    <h3>Schlagwörter</h3>
                    Ruby on Rails, COuchDB, Photoshop, Maya, Unity3D, Projektmanagement
                </div>
            </div>
        </div>
    </div>
</body>
</html>