{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Badges{% if page %} - {{ page }} {% endif %}</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic|Yanone+Kaffeesatz:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
    <link rel="stylesheet" href="{% static "spectrum.css" %}" />
    <script type="text/javascript" src="{% static "scripts/jquery.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/jquery.isotope.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/jquery.autocomplete.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/jquery.cookie.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/jquery.spectrum.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/jquery.spectrum-de.js" %}" ></script>
    <script type="text/javascript" src="{% static "scripts/script.js" %}" ></script>
</head>
<body>
    <div id="container"{% if prof %} class="prof"{% endif %}>
        {% if hideMenu == None %}
        <div id="header" class="box">
            <div id="logo"><img src="{% static "images/logo.png" %}" alt="TU Wien Badges" width="168" height="66"/></div>
            <ul id="nav">
                {% if prof %}
                <li{% if menu_selected == 0 %} class="selected"{% endif %}><a href="/">Meine Badges</a></li>
                <li{% if menu_selected == 1 %} class="selected"{% endif %}><a href="/presets">Badge Presets</a></li>
                {% endif %}
            </ul>
            {% if username %}
            <div id="useractions">
                {{ greeting }},<br/>
                <b>{{ username }}</b>

                <span class="logout">&raquo; <a href="/?logout">logout</a></span>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div id="content">
