{% load staticfiles %}
{% include 'header.html' with page='Login' hideMenu=True %}

        <div class="box login">
            <img src="{% static "images/logo.svg" %}" alt="TU Wien Badges" height="66"/>
            {% if login_msg %}<div style="text-align: center;">{{ login_msg }}</div>{%endif%}
            <form action="/" method="post">
                {% csrf_token %}
                <input name="mail" id="mail" placeholder="E-Mail Adresse" />
                <input name="pw" id="pw" type="password" placeholder="Passwort"/>
                <input type="submit" value="&raquo; einloggen" />
            </form>
			<div class="box ssologin">
				<a href="https://iu.zid.tuwien.ac.at/AuthServ.authenticate?app=138" class="button">&raquo; TU Wien SSO Login</a>
			</div>
        </div>

{% include 'footer.html' %}
