html, body, div, ul, li, p, span {
    margin:0;
    padding:0;
}

input, select, textarea, button{font-family:inherit;}

body {
    background-color:#f0f0f0;
    font-family:'Open Sans', sans-serif;
    color:#111111;
}

h1 {
    font-size:30px;
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-weight:300;
    text-align:left;
}

.box {
    background-color:#ffffff;
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.17);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.17);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.17);
}

.col {
    width: 48%;
    margin:0 4% 0 0;
    display: block;
    float:left;
}

    .col:last-of-type {
        margin-right:0;
    }

.clear{
    clear:both;
}

#container{
    width: 75%;
    margin: 0 12.5%
}

#header {
    width: 100%;
    height:95px;
    overflow: hidden;
    position: relative;
}

    #logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    #nav {
        height:95px;
        position: absolute;
        left: 215px;
        bottom:14px;
        display: block;
        height: 30px;
    }

        #nav > li {
            list-style: none;
            font-size:16px;
            color:#111111;
            line-height: 30px;
            height:30px;
            display:inline-block;
            margin: 0 22px 0 0;
        }

        #nav > li.selected {
            border-bottom:2px solid #0070af;
        }

        #nav > li > a {
            display: block;
            line-height: 30px;
            text-decoration: none;
            color: #666666;
        }

            #nav > li.selected > a {
                color: #111111;
            }

            #nav > li > a:hover {
                color: #333333;
            }

#content{
    width: 100%;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    clear: both;
}

    #content > * {
        white-space: normal;
    }

    .badges {
        position: relative;
        overflow: visible !important;
    }

    .badge {
        width:31.5%;
        margin:0 0 1.5% 0;
        padding:8px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: absolute;
        top:0;
        left:0;
    }

    .col .badge {
        width:31.5%;
        margin:0 0 1.5% 0;
    }

        .badge .image {
            width:100%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: #cccccc;
            overflow: hidden;
        }

        .badge .image > img {
            width: 90%;
            display: block;
            margin: 5%;
        }

        .badge h2 {
            font-size:16px;
            font-weight:600;
            margin: 8px 0 7px 0;
        }

        .badge .info{
            font-size:13px;
            color:#333333;
        }

            .badge .info .label{
                color:#999999;
            }

    input {
        font-size:18px;
        color:#111111;
        padding:5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display:block;
        background:transparent;
        border:0;
        border-bottom:1px solid #666666;
        width:100%;
        margin:10px 0 10px 0;
        -moz-box-shadow: 1px -5px 0px #ffffff, 1px 0px 0px #111111, -1px -5px 0px #ffffff, -1px 0px 0px #111111;
        box-shadow: 1px -5px 0px #ffffff, 1px 0px 0px #111111, -1px -5px 0px #ffffff, -1px 0px 0px #111111;
    }

    input[type="button"], input[type="submit"] {
        background:#ffffff;
        color:#0070af;
        font-weight:600;
        border:0;
        cursor: pointer;
        box-shadow:none;
        width:auto;
        padding:5px 0 5px 0;
        float:right;
    }

    input[type="button"]:hover, input[type="submit"]:hover {
        text-shadow: 0px 2px 0px #ffffff, 2px 2px 0px #ffffff, -2px 2px 0px #ffffff;
        box-shadow: inset 0px -8px 0px #ffffff, inset 0px -10px 0px #0070af;
    }

    div.box.login {
        width:100%;
        max-width:400px;
        overflow: hidden;
        min-height:300px;
        height:0%;
        margin:0 auto 0 auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding:30px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align:center;
    }

        div.box.login > form {
            margin-top:30px;
        }

        div.box.login > img {
            width:100%;
            max-width:168px;
            height:auto;
        }

/* Liquid rules */

@media (max-width: 1100px){
    .col .badge {
        width:48%;
        margin:0 0 2% 0;
    }
}

@media (max-width: 769px){

    #container{
        width: 90%;
        margin: 0 5%
    }

}

@media (max-width: 600px){
    .col .badge {
        width:100%;
        margin:0 0 10px 0;
    }
}